<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/mailtest.css}" />
    </div>

</html>
