<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
    <!-- Top row -->
    <div class="top-attr">
        <ul class="links">
            <li><br /></li>
        </ul>

    </div>
    <!-- END OF Top row -->

    <nav class="main-nav">
        <ul>
            <li th:class="${sendmailformActive}">
                <a th:href="@{/}">E-maili Saatmine</a>
            </li>
            <li th:class="${sentmailsActive}">
                <a th:href="@{/sentmails}">Saadetud E-mailid</a>
            </li>
        </ul>
    </nav>

</div>
</html>