<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Saadetud e-mailid</title>
    <div th:replace="fragments/css :: css"></div>
</head>
<body>

<!--Container START -->
<div class="container">

    <div th:replace="fragments/header :: header"></div>


    <div class="page-header m-t-1">
        <h1>Saadetud e-mailid</h1>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Aadress</th>
            <th>&nbsp;</th>
        </tr>
        <!--tr>
            <th>Kokku saadetud</th>
        </tr-->
        </thead>
        <tbody id="maillistTable">
        <tr th:each="row : ${maillist}">
            <td>
                <span th:text="${row}" />
            </td>
            <td>
                <a th:attr="href=@{/sentmailsbyaddress} + '?recipientAddress=' + ${row}">Vaata</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>


<div th:replace="fragments/js :: javaScript"></div>

</body>
</html>

