<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>E-mail test</title>
<div th:replace="fragments/css :: css"></div>
</head>
<body>


<!--Container START -->
<div class="container">

    <div th:replace="fragments/header :: header"></div>

    <div class="page-header m-t-1">
        <h1>E-maili saatmine</h1>
    </div>

    <!-- Page content -->
    <form id="sendMailForm" name="sendMailForm" class="form-horizontal" th:action="@{/sendMail}" method="POST">

        <p class="mandatory_field"><i>*&nbsp;Kohustuslikud väljad</i></p>

        <div class="form-group" >
            <label for="recipientAddress" class="col-md-4 control-label">Aadress:&nbsp;<span class="required">*</span></label>
            <div class="col-md-8">
                <input name="recipientAddress" class="form-control" id="recipientAddress" placeholder="Aadress" title="Recipient Address" data-toggle="tooltip" data-placement="left"/>
                <span id="recipientAddressErrorMessage" style="display: none;" class="input-error">Maili aadress puudub või on vigane</span>
            </div>
        </div>

        <div class="form-group" >
            <label for="messageBody" class="col-md-4 control-label">Sisu:</label>
            <div class="col-md-8">
                <textarea rows="7" name="messageBody" class="form-control" id="messageBody" data-bind="" placeholder="Sisu" title="Sisu" data-toggle="tooltip" data-placement="left"/>
            </div>
        </div>
    </form>
    <div id="messageBar"></div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-right" id="sendMailButton" role="group" onclick="sendMail()">Saada</button>
    </div>

    <input type="hidden" id="sendMailUrl" th:href="@{/sendmail}" />

</div><!--Container END-->


<div th:replace="fragments/js :: javaScript"></div>
<div th:replace="fragments/js :: sendmailJs"></div>


</body>
</html>
