<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>E-mail test</title>
<div th:replace="fragments/css :: css"></div>
</head>
<body>


<!--Container START -->
<div class="container">

    <div th:replace="fragments/header :: header"></div>

    <div class="page-header m-t-1">
        <h1>Saadetud e-mail</h1>
    </div>

    <!-- Page content -->
    <div>

        <div class="form-group" >
            <label for="recipientAddress" class=" col-sm-4 col-md-4 control-label">Aadress:</label>
            <div class=" col-sm-8 col-md-8">
                <span th:text="${sentmail.getRecipientAddress()}" />
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="form-group" >
            <label for="sentTime" class=" col-sm-4 col-md-4 control-label">Saatmise aeg:</label>
            <div class=" col-sm-8 col-md-8">
                <span th:text="${sentmail.getSentTimeAsString()}" />
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="form-group" >
            <label for="messageBody" class=" col-sm-4 col-md-4 control-label">Sisu:</label>
            <div class=" col-sm-8 col-md-8">
                <span th:text="${sentmail.getMessageBody()}" />
            </div>
        </div>
    </div>

</div><!--Container END-->


<div th:replace="fragments/js :: javaScript"></div>
<div th:replace="fragments/js :: sendmailJs"></div>


</body>
</html>
