
body {
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 15px;
    color: #333;
}

a {
    text-decoration: none;
}

a, a:hover {
    color: #ab0d25;
}

a:hover {
    text-decoration: underline;
    color: #c1223a;
}

[class*="col-md-"], [class*="col-sm-"], [class*="col-xs-"], h1, h2, h3, h4, ul, ol, p, .row, .container {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}


.container {
    width: auto;
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: content-box;
}

input, select, textarea, button {
    outline: none;
    line-height: 1.1;
}


.top-attr {
    overflow: hidden;
    line-height: 1;
}

.top-attr .links {
    margin-top: 10px;
}

.top-attr .links, .top-attr .links li {
    float: left;
}


.main-nav {
    overflow: hidden;
    margin-bottom: 17px;
    background-color: #635651;
}

.main-nav li {
    float: left;
}

.main-nav a {
    display: block;
    padding: 10px 15px;
    line-height: 1;
    font-size: 20px;
    color: #fff;
}

.main-nav .active a {
    color: #796b67;
    background-color: #fff;
    border: 1px #afa6a4 solid;
}



.alert {
    background-color: #f2f1f0;
    border: 0;
    border-radius: 0;
    color: inherit;
    margin-bottom: 6%;
}

.alert, .alert-success {
    background-color: #f2f1f0;
}

.alert, .alert-warning {
    background-color: #f2f1f0;
}


.required {
    color: #ab0d25;
}


.input-error {
    clear: both;
    color: #ab0d25;
    font-style: italic;
}

.mandatory_field{
    text-align: right;
    margin-bottom: 3px;
    color: #ab0d25;
    font-size: 14px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-horizontal .control-label {
    padding-top: 5px !important;
    padding-right: 10px !important;
    text-align: left;
    font-weight: bold;
}

.form-horizontal .control-label .required {
    color: #ab0d25;
}


.form-horizontal .form_field input[type="text"] {
    max-width: none !important;
}



.error-404 {
    padding: 80px 10px;
    margin: 30px 0;
    text-align: center;
}

.article h1 {
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 700;
}

.article p {
    margin-bottom: 20px;
}

